body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.col-1{
	width:8.33%;
}
.col-2{
	width:16.66%;
	
}
.col-3{
	width:25%;
	
}
.col-4{
	width:33.32%;
}
.col-5{
	width:41.65%;
}
.col-6{
	width:50%;
}
.col-7{
	width:58.31%;
}
.col-8{
	width:66.64%;
	
}
.col-9{
	width:75%;
}
.col-10{
	width:83.3%;
	
}
.col-11{
	width:91.63%;
}
.col-12{
	width:100%;
}
/*product-style*/
.back-image{
  background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("images/perfume.jpg");
  background-size: cover;
  background-position: center;
  height:100vh;

}
.perfume-flex{
  display: flex;
  justify-content: space-between;
}
.home-container{
  width:90%;
  margin:auto;
}
.home-top{
  margin-top:25px;
  
}
.home-head h1{
  margin-top:50px;
  font-size:50px;
}
.home-head p{
  color:white;
  font-size:30px;
  margin-left:450px;
}
.about-image img{
  margin-top:50px;
  height:auto;
  width:80%;
}
.about-image{
  display: flex;
  justify-content: space-around;
} 
.abt-img1 img{
  height:500px;
  width:500px;
  margin-left:80px;
}
.abt-backimg h1{
  margin-top:35px;
  color:white;
}
.abt-backimg{
  background-image:url("images/background.webp");
  background-position: center;
  background-size:cover;
  height:100vh;
}
.about-image h1, .about-image h2{
  color:black;
}
.about-image h2, .about-image h3, .about-image h4, .about-image h5, .about-image h6{
  padding-top:35px;
  text-align:center;
}
.about-para{
  text-align:center;
  margin-top:150px;
}
.link-abt{
   margin-top:30px;
   text-decoration: none;
   display: inline-block;
   border: 1px solid pink;
   padding:10px;
   background-color:pink;
   color:white;
}
.about-top{
  margin-top:25px;
}
.about-image h2{
  color:white;
  padding-left:35px;
}

.link-btn{
   margin-top:30px;
   text-decoration: none;
   display: inline-block;
   border: 1px solid rgb(16, 173, 235);
   padding:10px;
   background-color: rgb(19, 178, 241);
   color:white;
}
.login-form{
  width:30%;
  margin:auto;
}
.login-form form{
  margin-top:30px;
  width:100%;
  border:3px solid white;
  padding:20px;
  color:white;
}
.login-form h3{
  color:rgb(21, 178, 240);
}
.back-image h1{
  padding-left:30px;
  padding-top:50px;
  text-align:center;
  color:white;
  
}
.login-form h3, .login-form p{
  text-align: center;
}
.login-form button{

  padding:10px  160px;
  background-color: rgb(20, 168, 226);
  border:1px solid rgb(18, 169, 230);
  color:white;
}
.perfume-form{
  border:1px solid white;
  color:white;
  width:45%;
  margin:auto;
  padding-left:30px;
}
.perfume-form h1{
  text-align:center;
  padding-left:0px;
}
.product{
  height:35px;
  width:95%;
}
.product-desc{
  height:76px;
}
.perfume-form button{
  color:black;
  border:5px solid white;
  background-color: white;
  padding:10px 25px;
  margin-left:250px;
  margin-bottom:10px;
}
.product-card img{
 
  height:200px;
  width:100%;
}
.product-card{
  margin:15px;
  border:1px solid white;
  width:25%; 
}
.product-backimg{
  background-image:url("images/pro back.jpeg");
  background-position:center;
  background-size: cover;
  height:100vh;
}
.product-flex{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;

}
.product-page span{
  color:aqua;
}
.product-card h3{
  color:white;
}
.product-page button{
  margin:30px 70px;
  color:white;
  background-color: brown;
  padding:10px 15px;
  border:1px solid brown;
}
.link-dash{
 display:inline-block;
 text-decoration: none;
 background-color: rgb(24, 173, 231);
 color:white;
 padding:10px;
 border:1px solid rgb(14, 174, 238);
 }
.dash-btn{
  background-color: rgb(11, 176, 241);
  color:white;
  padding:15px;
  border:1px solid rgb(11, 176, 241) ;
  margin:15px 25px;
}


.crud{
  width:40%;
  margin:auto;
}
.crud-table{
  margin-top:30px;
  width:90%;
}
.addlist{
   margin-top:30px;
}
.addlist button{
  margin-left:20px;
  background-color:darkgreen;
  border: 1px solid darkgreen;
  padding:10px 20px;
  color:#fff;
}